In [1]:
import numpy as np 
import pandas as pd                                                                                             
from bs4 import BeautifulSoup as bs                                 
import requests as req

In [2]:
from splinter import Browser

In [3]:
from selenium import webdriver

In [4]:
nasa_url = "https://mars.nasa.gov/news/"                                     
response = req.get(nasa_url)                                                 

nasa_soup = bs(response.text, 'html.parser')                                

news_title = nasa_soup.find("div", class_="content_title").text         
paragraph_text = nasa_soup.find("div", class_="rollover_description_inner").text

In [5]:
news_title

'\n\nNASA Invites Students to Name Mars 2020 Rover\n\n'

In [6]:
paragraph_text

"\nThrough Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover.\n"

In [7]:

browser = Browser('chrome', headless=False)                                  
jpl_fullsize_url = 'https://photojournal.jpl.nasa.gov/jpeg/'                 
jpl_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"

In [8]:
browser.visit(jpl_url)       
jpl_html = browser.html 
jpl_soup = bs(jpl_html, 'html.parser')

In [9]:
featured_image_list = [] 
for image in jpl_soup.find_all('div',class_="img"): 
      featured_image_list.append(image.find('img').get('src'))

In [10]:
feature_image = featured_image_list[0]                                      
temp_list_1 = feature_image.split('-')                                      
temp_list_2 = temp_list_1[0].split('/')                                   
featured_image_url = jpl_fullsize_url + temp_list_2[-1] + '.jpg'

In [11]:
featured_image_url

'https://photojournal.jpl.nasa.gov/jpeg/PIA23488.jpg'

In [12]:
browser.quit()

In [18]:
browser = Browser('chrome', headless=False)                                  
tweet_url = 'https://twitter.com/marswxreport?lang=en&lang=en' 
browser.visit(tweet_url)

In [19]:
html = browser.html                                                    
soup = bs(html, 'html.parser')

In [20]:
mars_weather = soup.find(class_="tweet-text")  

mars_weather = mars_weather.text.strip()
print(mars_weather)

InSight sol 314 (2019-10-15) low -102.8ºC (-153.0ºF) high -24.8ºC (-12.6ºF)
winds from the SSE at 4.9 m/s (11.1 mph) gusting to 19.7 m/s (44.0 mph)
pressure at 7.20 hPapic.twitter.com/VONawbIeG4

In [21]:
facts_url = 'https://space-facts.com/mars'
browser.visit(facts_url)
fact_list = pd.read_html(browser.html)

In [23]:
fact_list

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [25]:
facts_table = facts_df.to_html(header=False, index=False)
print(facts_table)

<table border="1" class="dataframe">
  <tbody>
    <tr>
      <td>Diameter:</td>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <td>Moons:</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Distance from Sun:</td>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <td>Length of Year:</td>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <td>Temperature:</td>
      <td>-153 to 20 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

In [26]:
hemisphere_cerberus = "https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced"
browser.visit(hemisphere_cerberus)
html = browser.html
soup = bs(html, 'html.parser')

In [27]:
hemisphere_cerberus = soup.find_all("img", class_ = 'wide-image')
for image in hemisphere_cerberus:
   hemisphere_cerberus="https://astrogeology.usgs.gov"+image['src']
print(hemisphere_cerberus)

https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg